<div>
  <mat-form-field>
      <input [(ngModel)]= "email"  matInput placeholder="enter your email">
        <mat-hint>email</mat-hint>
    </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input [(ngModel)]= "password"  matInput placeholder="password">
       <mat-hint>password</mat-hint>
 </mat-form-field>
</div>

<button (click) = "login()">
      login
    </button>