<body> 
    <mat-form-field>
        <mat-select placeholder="Select a currency" [(value)]="tempCurrency" (selectionChange)="toFilter()">
          <mat-option *ngFor="let cu of currencies" [value]="cu">
            {{cu}}
          </mat-option>
        </mat-select>
      </mat-form-field> 

    <!--  <mat-form-field>
          <input  matInput
                  placeholder = "Insert currency Name"
                  [(ngModel)] = "currency" 
                  type= "text"
                  (keyup) = "filter()">          
        </mat-form-field>-->
  
<div>
  <mat-table [dataSource]="products"  class="mat-elevation-z8"><!--שם הטבלה במסד הנתונים  -->

    
    <ng-container matColumnDef="name"> <!--שם העמודה במסד הנתונים  -->
      <mat-header-cell  *matHeaderCellDef> name </mat-header-cell> <!--שם העמודה שמוצג  -->
      <mat-cell  *matCellDef="let element"> {{ element.name }} </mat-cell><!--לא חייב להיות שווה לשורה 1,מה להציג  -->
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> color  </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{ element.color }} </mat-cell>
          <input [(ngModel)]="color" name="color" matInput >

    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{ element.price }} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> currency </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{ element.currency }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="primary"  (click) = "openDialog(element)"> Edit product</button>
          </mat-cell>
        </ng-container>


 <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click) = "toDelete(element.$key)"> Delete product</button>
        </mat-cell>
      </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>

<!----------------------------------------------------------------------------------------cdzxc-->
  <ul>

            <mat-form-field class="example-full-width">
         <input [(ngModel)]= "name"  matInput placeholder="add name">
          </mat-form-field>
         
          <mat-form-field class="example-full-width">
          <input [(ngModel)]= "color"  matInput placeholder="color">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input [(ngModel)]= "price"  matInput placeholder="price">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input [(ngModel)]= "currency"  matInput placeholder="currency">
            </mat-form-field>
        
          <button mat-raised-button 
                    (click) = "addproduct(name,color,price,currency)">
                    add product</button>
          </ul>


    <!--      <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>

          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>

          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">Primary</button>
          <button mat-stroked-button color="accent">Accent</button>
          <button mat-stroked-button color="warn">Warn</button>
          <button mat-stroked-button disabled>Disabled</button> -->

 </body>
   

