
<ul>
  <mat-checkbox [(ngModel)]="inStock" (change) = "inStockChange()"></mat-checkbox>
  <a
    (mouseenter) = "showDeleteButton()"
    (mouseleave) = "hideDeleteButton()">
    {{name}} - {{price}}  
    <button *ngIf= "showDB1" (click) = "delete1()" >delete</button>
  </a>
  <button *ngIf= "showDB2" (click) = "delete2()" >Cancel</button>
  <button *ngIf= "showDB3" (click) = "delete3()" >click to delete</button>            
</ul>