

<mat-card class="example-card">

    <mat-card-content>
        <a routerLink = "">home</a>-
        <a routerLink = "list">product list</a>-
        <a routerLink = "register">Register</a>-
        <a *ngIf = "!(authService.user | async)"routerLink = "login">Login</a>- <!--אם אין אף אחד מחובר-->
        <button *ngIf = "(authService.user | async)" (click) = "logout()">Logout</button> <!--אם יש מישהו מחובר-->
    </mat-card-content>
</mat-card>
<div>
<div *ngIf = "authService.user | async">
    <h1>Welcome {{ (authService.user | async)?.displayName }}!</h1>
</div>
</div>