<div>
  <mat-table [dataSource]="products" class="mat-elevation-z8"><!--שם הטבלה במסד הנתונים-->

    <ng-container matColumnDef="name"> <!--שם העמודה במסד הנתונים-->
      <mat-header-cell *matHeaderCellDef> name </mat-header-cell> <!--שם העמודה שמוצג-->
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell><!--לא חייב להיות שווה לשורה 1,מה להציג-->
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> color  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.color }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> currency </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.currency }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
