<mat-card class="example-card">
  <mat-card-content> 
    <div>
      <a routerLink = "">home</a>   <!--דף דיפולט, מרחאות ריקות-->
    </div>

    <div> 
     <a routerLink = "list">product list</a>
    </div>
    <div> 
        <a routerLink = "Register">Register</a>
    </div>
    <div> 
        <a routerLink = "login">login</a>
    </div>
   
    <!--<a *ngIf="!(authService.user | async)"routerLink = "/login">login</a> 
    <button (click) = "toRegister()">
       Register
    </button>-
    <button (click) = "toCodes()">
      Codes
    </button>
    <button *ngIf="authService.user | async"  (click) = "logout()">
      logout
    </button>--> 
</mat-card-content> 
</mat-card>